*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
/* Classes auxiliares */
.container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
}

.w50{
    width: 50%;
    float: left;
}

.w33{
    float: left;
    width: 33.3%;
}

.center{text-align: center;}

.clear{clear: both;}

/* classses do meu site*/
/*HEADER*/
header{
    padding: 8px 0;
}
.logo{
    float: left;
}

.logo h2{
    font-weight: normal;
    font-size: 23px;
}
nav.menu-mobile{
    display:none;
    float: right;
}
nav.menu-mobile h2{
    cursor: pointer;
}
nav.menu-mobile ul{
    display: none;
    width: 100%;
    background-color: white;
    position: absolute;
    left: 0;
    top: 40px;
    z-index: 999;
    text-align: center;
}

nav.menu-mobile li{
    padding: 8px;
    border-bottom: 2px solid black;
}

nav.menu-mobile li.selected{
    background: red;
}

nav.menu-mobile a{
    color: black;
    text-decoration: none;
    display: block;
}
nav.menu-desktop li.selected{font-weight: normal;text-decoration: underline;}
nav.menu-desktop{
    float: right;
}

nav.menu-desktop ul{
    position: relative;
    top: 8px 0;
}
nav.menu-desktop li{
    padding: 0 10px;
    display: inline-block;
}

nav.menu-desktop a{
    color: black;
    text-decoration: none;
}

nav.menu-desktop a:hover{text-decoration: underline;}

/*main BG */


section.main-bg{
    position: relative;
    width: 100%;
    padding: 200px 0;
    background-image:url('/images/hacker.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
section.main-bg > .container{
    position: relative;
    z-index: 1;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    left: 0;
    top: 0;
}

section.main-bg h2{
    text-align: center;
    color: #2563eb;
    font-size: 30px;
    font-weight: normal;
}

section.main-bg p{
    text-align: left;
    color: #bfdbfe;
    font-size: 17px;
    margin-top: 15px;
}

section.diferenciais{
    padding: 40px 0 ;
    text-align: center;
}

.line-text{
    position: relative;
    display: inline-block;
    color: #2563eb;
}

.line-text > div{
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    height: 3px;
    background-color: #2563eb ;
    
}

.line-text h2{
    font-weight: normal;
    font-size: 27px;
}

.icones-diferenciais{
    margin-top: 5%;
}

.box-icone-single{
    float: left;
    width: 33.3%;
    margin-bottom: 20px;
    padding: 0 10px;
    
}

.box-icone-single h2{
    color: #2563eb;
    font-size: 40px;
}

.box-icone-single p{
    color: #bfdbfe ;
    font-size: 16px;
    padding: 0 10px;
}

section.sobre-equipe{
   padding:  30px 0; 
   background: rgb(34, 34, 34);
}

section.sobre-equipe > .container{
    display: flex;
    flex-wrap: wrap;
    
}

.equipe-container{
    width: 50%;
}

.sobre-container{
    width: 50%;
}

.sobre-container p{
    color: #2563eb;
    font-size: 15px;
    margin-top: 10px;
}

.img-avatar{
    display: inline-block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-size: 100% 100%;
    background-image: url(/images/500.png);
}

.descricao-avatar{
    width: calc(100% - 70px);
    display: inline-block;
    padding: 0 10px;
}

.avatar-box{
    margin-top: 15px;
}

.descricao-avatar h3{
    color: #2563eb;
}
.descricao-avatar p{
    color: #2563eb;
    font-weight: normal;
    font-style: italic;
}

section.inscricao{
    background-color: #424242;
    padding: 20px 0 ;
}

h2.inscricao-texto{
    font-weight: normal;
    color: rgb(245, 245, 245);
}

.inscricao-form input[type=text]{
    width:calc(100% - 120px);
    height: 30px;
    background-color: #2563eb;
    border: 1px solid #bfdbfe;
    display: inline-block;
}

.inscricao-form input[type=submit]{
    width:120px;
    height: 30px;
    background-color: #b3bfd8;
    border: 1px solid #bfdbfe;
    cursor: pointer;
    display: inline-block;
    color: black;
    font-weight: bold;
    
}

section.cards{
    padding: 30px 0 ;
    background-color: #dfe6f0;
}

.card-single{
    width: 33.3%;
    float: left;
    border: #dfe6f0 solid 50px;
    border-bottom: 2px solid #ccc ;
}
/* preciso ajeitar esse border com padding não ficou bom */ 
.card-single img{
    width: 100%;
}

.card-single h3{
    font-weight: bold;
    font-size: 19px;
    text-align: center;
    margin-top: 10px;
}

.card-single p{
    font-size: 16px;
    text-align: left;
    margin: 0 0 20px;
    font-weight: normal;
}

footer.footer1{
    background-color: #bfdbfe;
    padding: 20px 0;
    color: white;
}


footer.footer1 h2{
    font-weight: normal;
    font-size: 23px;
}

footer.footer1 p{
    margin-top: 8px;
    font-weight: lighter;
}

footer.footer1 a{
    display: block;
    color: white;
}

div.group-icons a{
    font-size: 18px;
    display: inline-block;
    margin: 15px 10px;
}

footer.footer2{
    background-color: #a3bcf1;
    text-align: center;
    color:black;
    padding: 15px 0 ;
}
/* eu ia continuar usando nivel de especificação mas não estava funcionando */
.banner{
    width: 100%;
    height: 150px;
    background-image: url(/images/hacker.jpg);
    text-align: center;
}

.banner > h2{
    color: #2563eb;
    padding: 20px;
}

.banner > p{
    color: #b3bfd8;
    padding: 10px;
}




@media screen and (max-width: 768px){
    nav.menu-desktop{display: none;}
    nav.menu-mobile{
        display: block;
    }

    footer.footer1 {
        text-align: center;
    }
    .box-icone-single{
        width: 100%;
    }

    .equipe-container{
        width: 100%;
    }

    .sobre-container{
        width: 100%;
        margin-top: 60px;
    }

    .w50,.w33{
    width: 100%;
    float: left;
    }

    .card-single{
        width: 100%;
    }
    /* depois vou ver responsivo das imagens  
    .card-single img{
        max-width: 500px;
    }
   */ 

    
}

@media screen and (max-width: 900px){
   

    footer.footer1 {
        text-align: center;
    }
    .box-icone-single{
        width: 100%;
    }

     .equipe-container{
        width: 100%;
    }

    .sobre-container{
        width: 100%;
        margin-top: 60px;
    }

    .w50,.w33{
    width: 100%;
    float: left;
    padding: 15px 0;
    }

     .card-single{
        width: 100%;
    }
}

@media screen and (max-width: px){
    .box-icone-single{
        width: 100%;
    }
}